.row{
    padding:20px;
}
div{
    text-align:justify;
}
@media (min-width: 576px){
    #foto{
        position: absolute;
        width:15%;
        border-radius:100%;
        box-shadow: 3px 3px 3px rgb(114, 42, 148); 
        left: 3%;
        top:350px; 
   
     }
}
@media (max-width: 575px){
    #foto{
        position: absolute;
        width:15%;
        border-radius:100%;
        box-shadow: 3px 3px 3px rgb(114, 42, 148); 
        left: 29%;
        top:350px; 
   
     }
}
#datos{
    position:relative;
    top:180px;
    left: -30px;
    
}
/*etiqueta header nombre*/
#nombre{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: center;
    
}
#pfo1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;

}
/*#acercaDeMi{
}

@media (min-width: 767px){
    #acercaDeMi{
        position: absolute;
        width:85%;
        margin-left: 5%;
        padding: 2%;
   
     }
}*/
.col{
    box-shadow: 2px rgb(195, 146, 240);
}
#acercaDeMi{
    margin-left: 10px;
    padding-left: 5px;
    
}
