<div class="container">
    <div class="row">
        <div class="col col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <img src="../../../assets/Imags/yo.jpeg"  class=img-fluid id="foto">
            <div id="datos">
              <h3 id="nombre">Maia Cristina Beatriz</h3>
              <h4 id="pfo1">Full Stack Developer Jr</h4>
            </div>
            
        </div>
        <div class="col col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
            
        </div>
        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <span id="acercaDeMi">
                    <h1>Acerca de mí</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consectetur quod ab commodi aspernatur, provident accusantium tenetur ullam, fuga aliquam sapiente nobis aliquid molestias recusandae nemo qui dicta praesentium repellendus?
                    Sed ipsam molestiae veritatis cumque, praesentium maxime, recusandae obcaecati voluptas fugiat voluptates iure laborum delectus dolorem alias deleniti. Provident voluptas accusantium deleniti suscipit rerum est odit similique nesciunt non explicabo.
                    Quo recusandae dolorum praesentium repellat. Obcaecati officia blanditiis impedit debitis? Fugiat dolor mollitia laborum unde repudiandae et ullam reprehenderit, commodi, dolorem possimus corporis consequatur, tempore beatae quaerat! Aspernatur, sunt sapiente!
                    </p>
                </span>      
        </div>
    </div>
</div>
         

            
