<div class="container-fluid">
    <div class="row">
        <div class="col">
        <img src="../../../assets/Logos/APLogo.png" alt="logoAP" class="logo" id="logo-AP">
        <img src="../../../assets/Logos/Inti_logo.png" alt="logoI" class="logo-I">
        <img src="../../../assets/Logos/min_desarrollo_productivo.png" alt="logoM" class="logo"> 
        </div>
        <div class="col" id="redes">
        <a href="https://www.facebook.com/CristinaM.Taty"><img src="../../../assets/Logos/facebook.png"></a>
        <a href="https://gist.github.com/Taty71"><img src="../../../assets/Logos/github.png"></a>
        <a href="https://www.instagram.com/tatymaia2015/"><img src="../../../assets/Logos/instagram.png"></a>
        <a href="https://www.linkedin.com/in/cristina-b-maia-4bb201a3/"><img src="../../../assets/Logos/linkedin.png"></a>
        <a href="https://twitter.com/MaiaTaty"><img src="../../../assets/Logos/twitter.png"></a>  
        </div>
    </div>
    </div>
