<div class="row">
    <h1>Educación</h1>
    <div class="col col-lg-1"></div>
    <div class="col col-lg-11">
        
          <ul>
            <li>
                <h2>Estudios #4</h2> - <h3>Año</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia tempore facere cum neque possimus, provident unde quasi hic aliquid officiis tempora facilis a vel atque sapiente, officia dolore earum explicabo?
            </p>
          </ul>
          <ul>
            <li>
                <h2>Estudios #3</h2> - <h3>Año</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia tempore facere cum neque possimus, provident unde quasi hic aliquid officiis tempora facilis a vel atque sapiente, officia dolore earum explicabo?
            </p>
          </ul>
          <ul>
            <li><h2>Estudios #2</h2> - <h3>Año</h3></li>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia tempore facere cum neque possimus, provident unde quasi hic aliquid officiis tempora facilis a vel atque sapiente, officia dolore earum explicabo?
            </p>
          </ul>
          <ul>
            <li><h2>Estudios #1</h2> - <h3>Año</h3></li>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia tempore facere cum neque possimus, provident unde quasi hic aliquid officiis tempora facilis a vel atque sapiente, officia dolore earum explicabo?
            </p>
          </ul>


    </div>
</div>


