    <div class="row row-cols-1 row-cols-md-2 g-0.5">
      <div class="col">
        <h1>Proyectos</h1>
      </div>
      <div class="col"></div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/Imags/im1.jpg" class="card-img-top rounded img-fluid offset-ms-2 offset-md-1" alt="proyecto 1">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/Imags/im1.jpg" class="card-img-top rounded img-fluid offset-ms-2 offset-md-1" alt="proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/Imags/im1.jpg" class="card-img-top rounded img-fluid offset-ms-1 offset-md-1" alt="proyecto 3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/Imags/im1.jpg" class="card-img-top rounded img-fluid offset-ms-1 offset-md-1" alt="proyecto 4">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>


<div>

  <div class="row">
    <h1>Proyectos</h1>
    
      
      
        <div class="col-sm-12 col-md-5 col-lg-5 proyecto1 px-5">
          <h3>Proyecto 1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At veniam atque voluptas eligendi molestiae tempora, accusantium porro necessitatibus temporibus quaerat itaque reprehenderit consequatur nobis sapiente quos eos! Illum, veritatis beatae!
          Ipsa minima quas voluptates velit ipsum laborum in rem consequatur asperiores quidem! Rem excepturi cupiditate minima iste? Adipisci saepe iure fuga ratione aperiam nostrum consequatur dicta ullam architecto, in alias!
          Aliquid deserunt dicta amet, voluptatem suscipit architecto porro numquam cumque at esse dolorem animi illum laudantium vel dolorum recusandae perspiciatis pariatur ex vitae quod. Soluta in ratione sequi fuga cum!
          Repellat vitae voluptates, perspiciatis quae minima, libero laborum aliquam dicta deserunt inventore nobis odit assumenda blanditiis alias similique dolorum voluptas sunt ea debitis cum placeat modi. Harum reiciendis quae eveniet.
          Rerum nemo neque ad voluptatum eos, pariatur eligendi quisquam vel ipsam excepturi officiis aperiam? Tempora consequuntur cum odit placeat, quas libero asperiores, nostrum architecto nihil ipsam debitis doloribus laboriosam similique!</p>
        
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 py-5">
          <img src="../../../assets/Imags/im1.jpg" class="img-fluid rounded proyecto1img ">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
        </div>
      </div>

    </div>
  












