<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12 col-md-5 col-lg-5 col-xl-5" id="logos">
      <img src="../../../assets/Logos/APLogo.png" alt="logoAP" class="logo" />
      <img src="../../../assets/Logos/Inti_logo.png" alt="logoI" class="logo" />
      <img src="../../../assets/Logos/min_desarrollo_productivo.png" alt="logoM"class="logo"/>
    </div>
    <div class="col col-sm-12 col col-md-5 col-lg-5 col-xl-5" id="redes">
      <a href="https://www.facebook.com/CristinaM.Taty"
        ><img src="../../../assets/Logos/facebook.png" class="img-fluid"
      /></a>
      <a href="https://gist.github.com/Taty71"
        ><img src="../../../assets/Logos/github.png" class="img-fluid"
      /></a>
      <a href="https://www.instagram.com/tatymaia2015/"
        ><img src="../../../assets/Logos/instagram.png" class="img-fluid"
      /></a>
      <a href="https://www.linkedin.com/in/cristina-b-maia-4bb201a3/"
        ><img src="../../../assets/Logos/linkedin.png" class="img-fluid"
      /></a>
      <a href="https://twitter.com/MaiaTaty"
        ><img src="../../../assets/Logos/twitter.png" class="img-fluid"
      /></a>
    </div>
    <div class="col col-ms-12 col-md-1 col-lg-1 col-xl-1" id="logueo">
      <button type="button" class="btn btn-light">Ingresar</button>
    </div>
  </div>
</div>
