<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="90"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/loghtml.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
        
  
></circle-progress>
    </div>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="95"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/logcss.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
    ></circle-progress>  
    </div>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="75"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/JS.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
></circle-progress>
    </div>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/angular.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
></circle-progress>
    </div>
    
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="95"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/github.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
        
  
></circle-progress>
    </div>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="90"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/mysql.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
    ></circle-progress>  
    </div>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/nodejs.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
        ></circle-progress>
    </div>
    <div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="70"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#BA68C8 '"
        [innerStrokeColor]="'#1A5276'"
        [animation]="true"
        [animationDuration]="600"
        [showSubtitle]="false"
        [titleColor]="'#E0E0E0'"
        [showUnits]="false"
        [lazy]="true"
        [imageSrc]="'../assets/Imags/english.png'"
        [showImage]="true"
        [imageWidth]="75"
        [imageHeight]="75"
        ></circle-progress>
    </div>

<div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [backgroundPadding]="5"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#BA68C8 '"
    [innerStrokeColor]="'#1A5276'"
    [animation]="true"
    [animationDuration]="600"
    [showSubtitle]="false"
    [titleColor]="'#E0E0E0'"
    [showUnits]="false"
    [lazy]="true"
    [imageSrc]="'../assets/Imags/mongodb.png'"
    [showImage]="true"
    [imageWidth]="75"
    [imageHeight]="75"
></circle-progress>  
</div>
<div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [backgroundPadding]="5"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#BA68C8 '"
    [innerStrokeColor]="'#1A5276'"
    [animation]="true"
    [animationDuration]="600"
    [showSubtitle]="false"
    [titleColor]="'#E0E0E0'"
    [showUnits]="false"
    [lazy]="true"
    [imageSrc]="'../assets/Imags/php.png'"
    [showImage]="true"
    [imageWidth]="75"
    [imageHeight]="75"
    ></circle-progress>
</div>
<div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [backgroundPadding]="5"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#BA68C8 '"
    [innerStrokeColor]="'#1A5276'"
    [animation]="true"
    [animationDuration]="600"
    [showSubtitle]="false"
    [titleColor]="'#E0E0E0'"
    [showUnits]="false"
    [lazy]="true"
    [imageSrc]="'../assets/Imags/react.png'"
    [showImage]="true"
    [imageWidth]="75"
    [imageHeight]="75"
    ></circle-progress>
</div>
<div class="text-center col col sm-12 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [backgroundPadding]="5"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#BA68C8 '"
    [innerStrokeColor]="'#1A5276'"
    [animation]="true"
    [animationDuration]="600"
    [showSubtitle]="false"
    [titleColor]="'#E0E0E0'"
    [showUnits]="false"
    [lazy]="true"
    [imageSrc]="'../assets/Imags/python.png'"
    [showImage]="true"
    [imageWidth]="75"
    [imageHeight]="75"
    ></circle-progress>
</div>
</div>